# Don't modify this file - you'll be sad when saltstack overwrites it.

<VirtualHost *:80>
  ServerName {{host}}

  DocumentRoot /var/www/{{host}}/{{docroot}}/

  <Directory />
  AllowOverride All
  </Directory>

  ServerAlias www.{{host}}
</VirtualHost>
